{% extends 'wypozyczalnia/base.html' %} 
{% load bootstrap3 %}
{%load static %}
{% bootstrap_css %}
{% bootstrap_javascript jquery=1 %}
{% block content %}
<div id="login">
   <div class="row" align="center">
      <div class="container col-md-2 col-md-offset-5" align=" center">
         <form class="form-horizontal" name="LoginForm" method="post">
            {% csrf_token %}
            <h2 class="form-signin-heading">Proszę się zalogować</h2>
            <br>
            <div class="control-group">
               <label for="username" class="sr-only">Login</label>
               <div class="controls">
                  <input type="text" id="username" name="username" class="form-control" placeholder="Login" required autofocus>
               </div>
            </div>
            <div class="control-group">
               <label for="password" name="password" class="sr-only">Hasło</label>
               <div class="controls">
                  <input type="password" id="password" class="form-control" name="password" placeholder="Hasło" required>
               </div>
            </div>
            <br>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Zaloguj</button>
         </form>
         <h4>Nie posiadasz konta?</h4>
         <h5><a href="/register/?next={% firstof request.path %}">Zarejestruj się</a></h5>
      </div>
      <!-- /container -->
   </div>
</div>
{% endblock %}

