{% extends 'wypozyczalnia/base.html' %} 
{% load bootstrap3 %}
{% load static %}
{% block content %}
<div class="jumbotron">
   <h1 align="center">Internetowe Bazy Danych</h1>
   <h2 align="center">Projekt "Wypożyczalnia Sprzętu Rowerowego"</h2>
</div>
<div class="container">
<div class="row col-md-12">
   <h2>Projekt wykonali:</h2>
   <br>
</div>
<div class="row">
   <div class="col-md-4"  align="center">
      <img src={% static "wypozyczalnia/MB.jpg" %}  align="center" alt="..." class="img-circle img-responsive">
      <h3>Michał Błędowski</h3>
      <div class="row">
        
         <p><a class="btn btn-default" href="#" role="button">LinkedIn &raquo;</a><a class="btn btn-default" href="#" role="button">E-mail &raquo;</a></p>
      </div>
   </div>
   <div class="col-md-4" align="center">
   <img src={% static "wypozyczalnia/stock.jpg" %}  align="center" alt="..." class="img-circle img-responsive">
      <h3>Piotr Ławniczak</h3>
 
         <p><a class="btn btn-default" href="#" role="button">LinkedIn &raquo;</a><a class="btn btn-default" href="#" role="button">E-mail &raquo;</a></p>
   </div>
   <div class="col-md-4" align="center">
   <img src={% static "wypozyczalnia/stock.jpg" %}  align="center" alt="..." class="img-circle img-responsive">
      <h3>Adrian Matuszewski</h3>

   
         <p><a class="btn btn-default" href="#" role="button">LinkedIn &raquo;</a><a class="btn btn-default" href="#" role="button">E-mail &raquo;</a></p>
   </div>
</div>
</div>
{% endblock %}