{% extends 'wypozyczalnia/base.html' %} 
{% load bootstrap3 %}
{%load static %}
{% bootstrap_css %}
{% bootstrap_javascript jquery=1 %}
{% block content %}
<div class="row" align="center">
   <div class="container col-md-2 col-md-offset-5" align=" center">
      <form class="form-signin" name="LoginForm" method="post">
         {% csrf_token %}
         <h2 class="form-signin-heading">Proszę się zalogować</h2>
         <br>
         <label for="username" class="sr-only">Login</label>
         <input type="text" id="username" name="username" class="form-control" placeholder="Login" required autofocus>
         <label for="password" name="password" class="sr-only">Hasło</label>
         <input type="password" id="password" class="form-control" placeholder="Hasło" required>
         <div class="checkbox">
            <label>
            <input type="checkbox" value="remember-me"> Zapamiętaj mnie
            </label>
         </div>
         <button class="btn btn-lg btn-primary btn-block" type="submit">Zaloguj</button>
         <h4>Nie posiadasz konta?</h4>

      </form>
      <a href="/register/?next={% firstof request.path %}">Zarejestruj się</a>
   </div>
</div>
{% endblock %}